/*!******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./app/loading.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************/
.loading_loading__ELBZD {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: var(--z-toast);
  height: 3px;
  overflow: hidden;
}

.loading_bar__5XWy7 {
  height: 100%;
  width: 40%;
  background-color: var(--color-gold);
  border-radius: var(--radius-full);
  animation: loading_slide__EFxWb 1.2s var(--ease-in-out) infinite;
}

@keyframes loading_slide__EFxWb {
  0%   { transform: translateX(-100%); }
  100% { transform: translateX(300%); }
}

